@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-primary {
    color: #1C1C1C;
}

.text-paragraph {
    color: #333333;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.dark-1{
  background-color:  #1E1E1E;
}

.dark-2{
  background-color:  #2C2C2C;
}

.dark-text-1{
  color: #F5F5F5;
}

.dark-text-2{
  color: #B3B3B3;
}

.cart-container {
  height: calc(100dvh - 136px);
}

@media (min-width: 600px) {
  .cart-container {
    height: calc(100dvh - 139px);
  }
}

@media (min-width: 1024px) {
  .cart-container {
    height: calc(100dvh - 117px);
  }
}

/* swiper css */


.swiper {
  width: 240px;
  height: 320px;
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}


.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

/* -------------------------------------------- */

.latest-books-carousel {
  width: 100%;
}

.swiper-hover-div .swiper-hover-text {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.swiper-hover-div .card-bg {
  background-color: rgb(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}

.swiper-hover-div:hover .card-bg {
  background-color: rgb(0, 0, 0, 0.4);
}

.swiper-hover-div:hover .swiper-hover-text {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.swiper-hover-div .swiper-hover-text .title {
  /* display: none; */
  transition: all 0.7s ease-in-out;
}
.swiper-hover-div:hover .swiper-hover-text .title {
  top: 10px;
  /* display: block; */
  transition: all 0.7s ease-in-out;
}

.swiper-hover-div .swiper-hover-text .author {
  transition: all 0.7s ease-in-out;
}
.swiper-hover-div:hover .swiper-hover-text .author {
  bottom: 10px;
  transition: all 0.7s ease-in-out;
}

/* ../swiper css */

.latest-book .explore-button {
  translate:  0% 0%;
  transition: all 0.3s ease-in-out;}

.latest-book .explore-button:hover {
  translate: -20% 0%;
  transition: all 0.3s ease-in-out;
}

.latest-book .explore-button .right-arrow {
  top: 50%;
  translate: -90% -40%;
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.latest-book .explore-button:hover .right-arrow {
  opacity: 1;
  top: 50%;
  translate: 30% -40%;
  transition: all 0.8s ease-in-out;
}